/*
Reset Stylesheet
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1.4;
    background: #000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color:#ffffd7;
}
a:hover {
    color:#1ba12d;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


.my10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.my20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.my30{
    margin-top: 310px;
    margin-bottom: 30px;
}

.my40{
    margin-top: 40px;
    margin-bottom: 40px;
}


.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

/* Layout */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; 
}

header{
    padding:15px 0px;
    margin-bottom: 40px;
}
header h1{
    font-size: 26px;
    color: #ffffd7;
}
header small{
    color: #1ba12d;
}

.row-block{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    margin-left: -15px;
    margin-right: -15px;
}
.colum-lg-3, .colum-md-2{    
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
}

.service-block h2{
    margin-bottom: 15px;
    font-size: 19px;
    color: #fff;
}
.d-flex{
    display: flex;
}
.service-block{
    border: 1px solid #1ba12d;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    padding:0px  15px 15px;
    max-width: 100%;
    display: inline-block;
}

.service-block  li{
    list-style: none;
    text-align: left;
    margin: 10px 0px;
    position: relative;
    padding-left: 20px;
    color: #ffffd7;
    
}
.service-block .image
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #1ba12d;
    -webkit-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
    align-items: center !important;
    text-align: center;
    line-height: 5em;
    margin: -35px auto 15px;
}
.service-block .image span
{
    font-size: 40px;
    color: #ffffd7;
}



  .service-block  li:after {
    /*Add another block-level blank space*/
    content: "";
    display: block;
    /*Make it a small rectangle so the border will create an L-shape*/
    width: 5px;
    height: 11px;
    
    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid #1ba12d;
    border-width: 0 3px 3px 0;
    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
    position: absolute;
    left: 0px;
    top: 0px;
  }
  
  footer{
      padding: 20px 0px;
      text-align: center;
      font-size: 13px;
      color: #ffffd7;
      background: #0f0f0f;
  }
  .copyright{
      margin-top: 15px;
      color: #858585;
  }



  .col{
      max-width: 40%;
      margin: 0px 0px;
  }
  .col.col-2{
      margin-left:auto ;
      margin-right:0px ;
  }

  
  .col.col-3{
    margin-left:15% ;
    margin-right:auto ;
}
/************* media Qurey ***********/

@media (min-width: 576px) {
      .container {
        max-width: 540px; 
    } 
   
   
  
}
@media (min-width: 768px) {
      .container {
        max-width: 720px; 
    } 
    
    .colum-md-2{
        flex: 0 0 50%;
        max-width: 50%;
    }
    header h1{
        font-size: 42px;
        color: #ffffd7;
    }

    .col{
        max-width: 60%;
        margin: 40px 0px 0px;
    }
    

}
@media (min-width: 992px) {
      .container {
        max-width: 960px; 
    } 
    
    .colum-lg-3{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media (min-width: 1200px) {
      .container {
        max-width: 1140px; 
    } 
    
    .colum-lg-3{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    header h1{
        font-size: 42px;
        color: #ffffd7;
    }
}


